@model IEnumerable<MvcTestingSamples.Models.Something>

<table>
@foreach (var item in Model) {
    <tr data-pkey="@item.ID">
        <td>
            @Html.DisplayFor(modelItem => item.Foo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SomeSortaThing)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edit</a> |
            <a href="#deleteRow" class="deleteRow">Delete</a>
        </td>
    </tr>
}
</table>

<div id="sampleContent" style="display: block; background-color: #dddddd; border: 3px solid #999999; padding: 10px; margin: 10px;">
    This is a sample div.
</div>

<button value="Click Me!" onclick="alert(sample.getUrl());">Click Me!</button>

@section Javascript { 
    <script src="@Url.Content("~/JS/samples.index.js")" type="text/javascript"></script>
}